<div class="well">


<p>
  <label>Pledge:
    {{input value=model.firstName}}

  </label>
</p>
<p>
  <label>Token(s):
    {{input value=model.lastName}}

  </label>
</p>
<p>
  <label>Donation:
    {{input value=model.email}}

  </label>
</p>

<button> Save</button>
<button> Edit</button>
<button>Delete</button>

</div>

{{outlet}}
