<h1>Tokens Index</h1>

<
{{#each token in model}}
  <h2>{{name}}</h2>
{{/each}}

ul>
<li>Starbucks, 5 Tokens</li>
<li>Methodical, 12 Tokens</li>
<li>Mark's Burger, 2 Tokens</li>

</ul>
{{link-to 'Rewards Index' 'rewards'}}


{{outlet}}
